.titulo-pagina-contatos{
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
.imagem-contato{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
}
.titulo-emails{
      color: black;
    font-weight: 700;
}
.titulo-endereço{
    color: black;
    font-weight: 700;
}
.titulo-redes-sociais{
    color: black;
    font-weight: 700;
}
.tema-botao{
    color: rgb(235, 199, 151);
    font-weight: 700;
    padding: 10px;
    background-color: #6D2E46;
    border-radius: 10px;
}
.tema-borda-mensagem{
    border: 3px black solid ;
    width: 400px;
}
.tema-borda-nome{
    border: 2px black solid ;
    width: 180px;

} 
.tema-borda-email{
    border: 2px black solid ;
    width: 180px;

}
.titulo_quem_somos{
    color: black;
    font-size: 30px;

}
.conteudo_quem_somos{
    color: black;
    font-size: medium;
}


.titulo_historia{
    color: black;
    font-size: 30px;
    
}
.valores_texto{
    color: black;
    font-size: 30px;
    
}


